<section class="score-form">
  <h2 class="center">Congratulations, you found everyone!</h2>
  <p class="center">Add your achievement to the scoreboard.</p>
  <%= form_with url: play_scores_path(@scene), method: "post" do %>
    <div class="sections">
      <div>
        <%= label_tag :player_name, "Your name" %>
        <%= text_field_tag :player_name %>
      </div>
      <div>
        <span>Time</span>
        <span class="time"><%= if local_assigns[:time] then local_assigns[:time] end %></span>
      </div>
    </div>
    <div class="center">
      <%= submit_tag "Add" %>
    </div>
  <% end %>
</section>